.container {

  max-width: 1000px;
  margin: 2rem auto;
  margin-top: 11%;
  padding: 2rem;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.switcher {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.switchButton {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ddd;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.switchButton:hover {
  background-color: #ccc;
}

.active {
  background-color: #ff6600;
  color: #fff;
}

.contactWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.form {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  flex: 1;
  min-width: 300px;
}

.fieldGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.fieldGroup label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.fieldGroup input,
.fieldGroup textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.submitButton {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.submitButton:hover {
  background-color: #e65c00;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.image {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}


/* Responsive design */
@media screen and (max-width: 768px) {
  .contactWrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .form {
    width: 100%;
    min-width: 100%;
  }
  
  .imageContainer {
    display: none;
  }
}
