@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*        Styles de base et typographie              */


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.card {
  background: #333; /* Couleur de fond sombre */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: #fff; /* Couleur du texte pour contraster avec le fond sombre */
}

.card:hover {
  transform: translateY(-5px); /* Animation au survol */
  background-color: #444; /* Couleur légèrement différente au survol */
}

.cardImage {
  width: 100%;
  height: auto;
}

.cardContent {
  padding: 1rem;
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* Stylisation de la liste */
.cardList {
  list-style: none; /* Supprime les puces par défaut */
  padding-left: 0;
  margin: 0 0 1rem 0;
  text-align: left;
}

.cardList li {
  font-family: 'roboto', sans-serif;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  text-align: start;
}

.cardList li::before {
  content: "✓"; /* Vous pouvez personnaliser cette puce */
  position: absolute;
  font-size:1rem;
  font-weight :bold;
  line-height: 1.5rem;
  left: 0;
  color: #ff6600; /* Couleur personnalisée pour la puce */
}







.paragraphe {
  text-align: center;
  font-family: 'roboto', sans-serif;
  color: #f0f0f0; /* Texte clair */
  line-height: 1.6;
  padding-bottom: 20px;
  padding-right: 30px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: center; /* Centrer le texte */
}

.headerText {
  padding-top: 2%;
  margin-right: 25%;
  margin-left: 25%;
  position: relative;
  text-align: center;
}


/*           Navbar et Header Text                  */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  z-index: 1000;
  padding: 10px 20px;
}

.headerText {
  margin-top: 60px; /* Ajustez selon la hauteur de la navbar */
  text-align: center;
  color: #f0f0f0;
}


.titre1 {
  bottom: 25;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: black;
  text-align: center;
  background-color: aliceblue;
  margin-right: 80;
  margin-left: 80;
  font-size: 16;
  padding: 1px;
}

.titre2 {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.highlight {
  color: #ff6600;
}

.titre3 {
  font-family: "franklin gothic medium", "arial narrow", arial, sans-serif;
  font-weight: 100;
  margin-top: 20;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.buttons {
  padding: 0 25 0 25;
  display: flex;
  justify-content: center;
  gap: 7px; /* espace entre les boutons */
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espacement entre les boutons */
  flex-wrap: wrap; /* Permet aux boutons de passer à la ligne si nécessaire */
}

.button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  transition: background 0.3s, transform 0.2s ease-in-out;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnAppointment {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:#ff6600;
  color: white;
  background-color: #ff6600;
  color: #fff;
  border: none;
}

.btnAppointment:hover {
  background-color: #e65c00;
}

.btnTraining {
  font-family: 'franklin gothic medium', 'arial narrow', arial, sans-serif;
  color: #fff;
  border: 2px solid #fff; /* Bordure blanche */
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  white-space: nowrap;
  background-color: #444;
  color: #fff;
  border: none;
}

/* Effet hover */
.btnTraining:hover {
  border-color: #ff6600; /* Change aussi la bordure */
  background-color: #333;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

/* Conteneur pour le texte du header */
.headerText {
  position: relative;
  margin-top: 15%;
  justify-content: center;
  text-align: center;
}
/* ------------------------------------------------- */
/*                Conteneur général                 */
/* ------------------------------------------------- */
.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
  color: #f0f0f0;
}

/* ------------------------------------------------- */
/*                Grille et cartes                  */
/* ------------------------------------------------- */

.gridWrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* pour un défilement plus fluide sur iOS */
}

/* Grille principale (3 colonnes) */
.grid {
  display: grid;
  padding-right: 20;
  padding-left: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 50px;
  background-color: #171717; /* Fond de grille sombre */
  box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

/* Adaptation de la grille en responsive (mobile) */
@media (max-width: 768px) {
  .grid {
    /* Fixer la largeur de chaque colonne pour que la grille dépasse l’écran */
    grid-template-columns: repeat(6, 100%); /* 6 colonnes pour les 6 images */
    width: max-content; /* la grille prendra la largeur de son contenu */
    gap: 200px;
    justify-self: center;
    padding: 200;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
  }
}


.cardImage {
  width: 80%;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Contenu interne de la carte */
.cardContent {
  padding: 2rem;
}

.cardContent h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardContent p {
  font-family: 'roboto', sans-serif;
  font-size: 1rem;
  color: white;
}



/* ------------------------------------------------- */
/*                   Titres et sous-titres          */
/* ------------------------------------------------- */
.titre3 {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  color: #f0f0f0;
  text-align: center;
}

/* Sous-titres avec soulignement */
.subtitles {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.subtitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  position: relative;
  padding-bottom: 5px;
  color: #f0f0f0;
}

.subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #fff;
}

/* ------------------------------------------------- */
/*               Section Statistiques               */
/* ------------------------------------------------- */
.statsContainer {
  background: #333333;
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: 100%;
}

.statsGrid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.statsCard {
  background-color: #2a2a2a;
  border-radius: 19px;
  padding: 1.5rem;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #f0f0f0;
}

.statsCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 60px;
  color: #ff6600;
  margin-bottom: 1rem;
}

.statValue {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 0.5rem;
  animation: fadeInUp 1s ease-out;
}

.statLabel {
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
}


/* ------------------------------------------------- */
/*               Section "Newbrain"                 */
/* ------------------------------------------------- */
.newbrainSection {
  padding: 40px 20px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.newbrainTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 20px;
  color: #f0f0f0;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

/* ------------------------------------------------- */
/*       Carte dédiée à l'Audit (Newbrain)          */
/* ------------------------------------------------- */
.auditCard {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  color: #f0f0f0; /* Couleur de texte claire */
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}


/* Grille de cartes pour la nouvelle section (2 colonnes) */
.cardGrid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

/* Card de la grille avec icône et titre */
.card {
  border: 1px solid #444; /* Bordure plus sombre */
  padding: 20px;
  border-radius: 8px;
  background: #2a2a2a; /* Fond de carte plus sombre */
  text-align: center;
  width: 100%;
  color: #f0f0f0; /* Couleur de texte claire */
}

/* Carte de la grille avec icône et titre */
.cardIcon {
  font-size: 2.5rem;
  color: #ff6600;
  margin-bottom: 10px;
}

.cardGridTitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #f0f0f0;
}

.cardgridDescription {
  color: white;
  margin-top: 10px;
  justify-content: flex-start;
}


@media (max-width: 768px) {
  .cardGridDescription {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    margin-bottom: 0.5rem;
    color: white;
  }
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  scroll-snap-type: x mandatory;
}

.horizontalScroll::-webkit-scrollbar {
  display: none; /* Cache la barre de défilement */
}

.horizontalCard {
  min-width: 300px;
  background-color: #333; /* Couleur de fond de la carte */
  color: #fff; /* Couleur du texte de la carte */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: transform 0.2s;
}

.horizontalCard:hover {
  transform: translateY(-5px);
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cardContent {
  padding: 1rem;
}

.cardContent h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardContent p {
  font-size: 1rem;
  color: white;
}

/* Conteneur pour le défilement horizontal */
.horizontalContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 10px;                /* Espace entre les images */
  padding: 10px;            /* Padding interne pour aérer le contenu */
  scroll-behavior: smooth;  /* Pour un défilement fluide */
  width: 100%; /* Assure que le conteneur prend toute la largeur */
  box-sizing: border-box;   /* Inclut le padding dans la largeur totale */
}

/* Personnalisation de la scrollbar sur WebKit */
.horizontalContainer::-webkit-scrollbar {
  height: 8px;              /* Hauteur de la barre de défilement */
}

.horizontalContainer::-webkit-scrollbar-track {
  background: #f1f1f1;      /* Couleur de fond de la piste */
}

.horizontalContainer::-webkit-scrollbar-thumb {
  background: #888;         /* Couleur de la barre */
  border-radius: 4px;
}

.horizontalContainer::-webkit-scrollbar-thumb:hover {
  background: #720a0a;
}

/* S'assurer que les images gardent leur taille sans se rétrécir */
.horizontalContainer img {
  flex-shrink: 0;
  max-height: 200px; /* Ajustez selon vos besoins */
  width: auto;
  border-radius: 4px;
}


.btnAppointment {
  background-color: #ff6600;
  font-family: 'roboto', sans-serif;
  color: white;
  padding: 12px 24px; /* Ajoute de l'espace autour du texte */
  border: none; /* Supprime la bordure par défaut */
  border-radius: 8px; /* Arrondi les bords pour une belle forme */
  font-size: 15px; /* Ajuste la taille du texte */
  cursor: pointer; /* Change le curseur au survol */
  transition: all 0.3s ease; /* Effet fluide lors du hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre */
}

/* Effet au survol */
.btnAppointment:hover {
  background-color: #e65c00; /* Légèrement plus foncé au hover */
  transform: scale(1.05); /* Effet d'agrandissement */
}


.cardLarge {
  background-color: #333; /* Couleur de fond sombre */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: #fff; /* Couleur du texte pour contraster avec le fond sombre */
}

.cardLarge:hover {
  background-color: #444; /* Couleur légèrement différente au survol */
}

.cardLargeTitre {
  font-family: 'roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}


@media (max-width: 768px) {
  .grid {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* Empêche le débordement vertical */
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    padding: 0 20px 0 20PX;
  }
  .grid .card {
    background-color: black;
    flex: 0 0 auto;
    width: 80%; /* Ajustez la largeur selon vos besoins */
    scroll-snap-align: center;
  }
  
  .card {
    background-color: black;
    flex: 0 0 auto;
    width: 80%; /* Ajustez la largeur selon vos besoins */
    scroll-snap-align: center;
  }
  .cardImage {
    width: 300;       /* Vous pouvez aussi utiliser une valeur fixe, par exemple 200px */
    height: 150;     /* Conserve les proportions de l'image */
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 7px; /* espace entre les boutons */
    margin-top: 85px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espacement entre les boutons */
    flex-wrap: wrap; /* Permet aux boutons de passer à la ligne si nécessaire */
  }
  
  .button {
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    transition: background 0.3s, transform 0.2s ease-in-out;
    font-size: 0.9rem; /* Réduction de la taille des boutons */
    padding: 0.5rem 1rem;
  }
  
  .btnAppointment {
    background-color: #ff6600;
    color: white;
  }
  
  .subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
    position: relative;
    padding-bottom: 5px;
    color: #f0f0f0;
  }
  .cardGrid {
    padding: 8px; /* Réduction de la marge intérieure sur les petits écrans */
  }

  .card {
    flex: 0 0 80%; /* Réduction de la largeur des cartes sur mobile */
  }  
  .paragraphe {
    font-size: 0.9rem; /* Réduction de la taille du texte */
    padding: 0 1rem; /* Ajout de marges pour éviter que le texte touche les bords */
  }

  .titre3 {
    font-size: 1rem; /* Réduction de la taille du titre */
  }
}

@media (max-width: 480px) {
  .paragraphe {
    font-size: 0.8rem; /* Réduction supplémentaire pour les très petits écrans */
  }

  .button {
    font-size: 0.8rem; /* Réduction supplémentaire pour les boutons */
    padding: 0.5rem 0.8rem;
  }

  .titre3 {
    font-size: 0.9rem; /* Réduction supplémentaire pour le titre */
  }
}

/* Styles pour la section headerText */
.headerText {
  text-align: center;
  padding: 2rem;
}

.titre1 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}

.titre2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.highlight {
  color: #ff6600;
}

/* Responsivité */
@media (max-width: 768px) {
  .headerText {
    padding: 1rem;
  }

  .titre1 {
    font-size: 1rem; /* Réduction de la taille du texte */
  }

  .titre2 {
    font-size: 1.8rem; /* Réduction de la taille du titre */
  }

  .highlight {
    font-size: 1.8rem; /* Ajustement de la taille du texte en surbrillance */
  }
}

@media (max-width: 480px) {
  .headerText {
    padding: 0.5rem;
  }

  .titre1 {
    font-size: 0.9rem; /* Réduction supplémentaire pour les très petits écrans */
  }

  .titre2 {
    font-size: 1.5rem; /* Réduction supplémentaire pour les très petits écrans */
  }

  .highlight {
    font-size: 1.5rem;
  }
}

/* Styles pour les cartes */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grille responsive */
  gap: 1.5rem; /* Espacement entre les cartes */
  margin-top: 1rem;
}

.card {
  background-color: #333; /* Couleur de fond sombre */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: #fff; /* Couleur du texte pour contraster avec le fond sombre */
}

.card:hover {
  transform: translateY(-5px); /* Animation au survol */
  background-color: #444; /* Couleur légèrement différente au survol */
}

.cardIcon {
  font-size: 2rem;
  color: #ff6600;
  margin-bottom: 1rem;
}

.cardGridTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cardGridDescription {
  font-size: 1rem;
  color: white;
  line-height: 1.5;
}

/* Styles pour les grandes cartes */
.cardLarge {
  background-color: #333; /* Couleur de fond sombre */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: #fff; /* Couleur du texte pour contraster avec le fond sombre */
}

.cardLarge:hover {
  background-color: #444; /* Couleur légèrement différente au survol */
}

.cardLargeTitre {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cardLargeDescription {
  font-size: 1rem;
  color: white;
  line-height: 1.5;
}

/* Responsivité */
@media (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr; /* Une seule colonne sur les écrans moyens */
  }

  .card {
    padding: 1rem; /* Réduction de l'espacement interne */
  }

  .cardGridTitle {
    font-size: 1rem; /* Réduction de la taille du titre */
  }

  .cardGridDescription {
    font-size: 0.9rem; /* Réduction de la taille du texte */
  }

  .cardLarge {
    padding: 1.5rem; /* Réduction de l'espacement interne */
  }

  .cardLargeTitre {
    font-size: 1.2rem; /* Réduction de la taille du titre */
  }

  .cardLargeDescription {
    font-size: 0.9rem; /* Réduction de la taille du texte */
  }
}

@media (max-width: 480px) {
  .cardGrid {
    grid-template-columns: 1fr; /* Une seule colonne sur les petits écrans */
  }

  .card {
    padding: 0.8rem; /* Réduction supplémentaire de l'espacement interne */
  }

  .cardGridTitle {
    font-size: 0.9rem; /* Réduction supplémentaire de la taille du titre */
  }

  .cardGridDescription {
    font-size: 0.8rem; /* Réduction supplémentaire de la taille du texte */
  }

  .cardLarge {
    padding: 1rem; /* Réduction supplémentaire de l'espacement interne */
  }

  .cardLargeTitre {
    font-size: 1rem; /* Réduction supplémentaire de la taille du titre */
  }

  .cardLargeDescription {
    font-size: 0.8rem; /* Réduction supplémentaire de la taille du texte */
  }
}
