@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

body {
  color: white;
  background-color: #272727;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
