/* Déclaration de la propriété CSS personnalisée */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Animation pour le gradient sur la carte */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* Position relative pour la carte */
.card {
  position: relative;
}

/* Styles personnalisés pour la carte */
.card::after,
.card::before {
  content: "";
  position: absolute;
  /* Augmentez la taille pour dépasser la carte */
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* Ajustez le padding pour renforcer l'effet */
  padding: 10px;
  border-radius: 10px;
  animation: spin 1s linear infinite;
}

.card::before {
  filter: blur(0.5rem);
  opacity: 0.5;
}
